# Игнорировать файлы сборки Python
__pycache__/
*.pyc

# Игнорировать виртуальные окружения
venv/
env/

# Игнорировать файлы модели и истории обучения
trained_model.h5
training_history.pkl

# Игнорировать локальные настройки IDE и редакторов кода
.vscode/
.idea/

# Игнорировать папки данных и результаты вычислений
data/
results/

# Игнорировать временные файлы или файлы журналов
*.log
*.temp